@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
}
body, html {
    width: 100%;
    overflow: hidden;
    height: 100vh;
}
#maincontainer {
    height: 100%;
}
#leftside {
    padding: 10px;
    padding-left: 20px;
    padding-right: 0px;
    width: 250px;
    height: 100%;
    background-color: #412a50;
    color: white;
}
#logo {
    margin-bottom: 40px;
    font-size: 30px;
    font-family: 'Staatliches', cursive;
}
#profile {
    background-image: url("profile.jpg");
    background-size: cover;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    box-shadow: 0px 0px 8px 2px black;
}
#name {
    margin-bottom: 50px;
    margin-top: 15px;
    font-size: 12px;
    font-family: 'Raleway', sans-serif;
}
#name h3 {
    font-size: 20px;
}
#randomname {
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    margin-bottom: 25px;
}
.iconcontainer {
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 20px;
    user-select: none;
    cursor: pointer;
    width: fit-content;
    left: 0px;
    width: 100%;
    margin-left: -20px;
    padding-left: 20px;
    transition: all 0.2s;
    height: 40px;
    display: flex;
    align-items: center;
}
.onchosen {
    background-color: rgba(255, 255, 255, 0.2);
    border-left: 4px solid white;
}
#searchbar {
    margin-left: 20px;
}
::-webkit-scrollbar {
    width: 7px;
}
::-webkit-scrollbar-track {
    background: white;
}
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 10px;
    transition: all 0.3s;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}
#chatrooms {
    border-left: 20px solid white;
    border-left: 20px solid white;
    /* border-right: 20px solid white; */
    width: calc(100% - 310px);
    height: 100%;
    max-height: 100%;
    background-color: #e2e5ed;
}
#profinfo {
    width: 100%;
    height: 80px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
#picture {
    height: 60px;
    border-radius: 50%;
    margin-left: 20px;
}
#statcontainer {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
#name2 {
    font-family: 'Heebo', sans-serif;
    font-weight: bold;
    font-size: 18px;
}
#status {
    font-family: 'Raleway', sans-serif;
    font-weight: bold;
    font-size: 14px;
    letter-spacing: 0.4px;
}
.unread .profprev  {
    font-weight: bolder;
    color: black;
}
.chat_container {
    width: calc(100% - 60px);
    height: fit-content;
    margin-bottom: 25px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mychat {
    direction: rtl;
    float: right;
    margin-right: 30px;
}
.enemychat {
    margin-left: 30px;
}
.picture_of_god {
    height: 40px;
    border-radius: 50%;
}
.anothercontainer {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
    margin-right: 15px;
}
.anotherchat {
    direction: ltr;
}
.anothername {
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.5px;
}
.anotherchat {
    margin-top: 5px;
    width: 250px;
    color: black;
    background-color: white;
    height: fit-content;
    padding: 7px;
    padding-left: 13px;
    font-family: 'Heebo', sans-serif;
}
.myanotherchat {
    border-radius: 10px 0px 10px 10px;
    background-color: #412a50;
    color: white;
}
.enemyanotherchat {
    border-radius: 0px 10px 10px 10px;
}
#chatinput {
    width: 100%;
    height: 50px;
    position: relative;
    top: calc(100% - 150px);
    background-color: white;
    margin-bottom: -50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
#inputofchat {
    width: 100%;
    height: 70%;
    outline: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    background-color: #e2e5ed;
}
#inputofchat::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}
#sendbutton {
    width: 10%;
    height: 70%;
    background-color: #412a50;
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 5px 5px 0px;
    user-select: none;
    cursor: pointer;
}